---
layout: compress
---
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"><!--<![endif]-->
<head>
    {% include head.html %}
</head>
<body>
    {% include nav.html %}
    <!-- Header -->
    <header class="header flex" role="banner">
        <div class="container animated fadeIn">
            <div class="row">
                <a href="{{ site.url }}">
                    <img src="{{ site.logo }}" class="img-circle zoombtn animated rotateIn">
                </a>
                <h3 class="title">
                    <a class="zoombtn" href="{{ site.url }}">
                       <p style="font-size:1.2rem;font-weight:300">{{ site.title }}</p>
                   </a>
               </h3>
               <hr class="hr-line">
               <h3 class="title">
                    <a href="{{ site.url }}">
                        <p style="font-size:1rem;font-weight:300">{{ site.bio }}</p>
                    </a>
                </h3>
                <hr class="hr-line">
                {% include social-links.html size=30 %}
                <hr class="hr-line">
                <h3 class="title">
                    <a class="btn zoombtn" href="{{ site.url }}/about">
                    <i class="fa fa-question-circle" aria-hidden="true"></i>
                        Qui suis je ?
                    </a>
                    <a class="btn zoombtn" href="{{ site.url }}/posts">
                        <i class="fa fa-file-text-o" aria-hidden="true"></i>
                        Les articles
                    </a>
                    <a class="btn zoombtn" href="{{ site.url }}/contact">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                        Contact
                    </a>
                </h3>
            </div>
        </div>
        <div class="container clearfix" style="margin-top: 20px; padding-bottom: 15px">
            <div class="row">
                <h3 class="title"> Derniers articles</h3>
                {% for post in paginator.posts %}
                    <p style="text-align: left"><a href="{{ post.url }}">[{% include dateFR.html date=post.date %}] - {{ post.title }}</a></p>
                {% endfor %}
                <a class="btn zoombtn" href="{{ site.url }}/posts">
                    <i class="fa fa-file-text-o"></i>
                    La suite
                </a>
            </div>
        </div>
    </header>

{% include scripts.html %}
</body>
</html>
